h1 {
    background-color: red;
}

.googleImage{
    background-color: black;
    display: block;
    height: 92px;
    width: 272px;

}
 a{
    font-family: 'Courier New', Courier, monospace;
    font-style: "";
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
   li {
  width: 60px;
  display: inline;
  text-align: center;
  position: relative;
  height: auto;
  overflow: auto;
}
img{
    object-fit: contain;
    object-position: 50% 100%;
    max-width: 100%;
    max-height: 100%;
    grid-area: search;
}
.bottomLinks{
    background-color: rgb(211, 211, 211);  

}
.rightBottomsLinks{
    grid-area: rightFooter;
}
.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto ;
    grid-template-areas: 
    "header header header"
     "empty search empty"
     "footer footer rightFooter";
    background-color: red;
    height: 100%;
    width: 100%;
}